.navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    background: #151515;
    box-shadow: 1px 4px 5px 2px rgba(0,0,0,.11);
    min-height: 75px;
    &-inner {
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        height: 75px;        
        @media (min-width: 1200px) {
            .navbar-brand {
                padding-right: 150px;
            }
        }
        .navbar-search {
            display: flex;
            width: 25%;
            input {
                width: 100%;
                padding: 5px 14px;
                border-radius: 6px;
                border: none;
                font-size: 14px;
                letter-spacing: .02em;
                font-weight: 300;
                line-height: 30px;
                color: #000;
                box-shadow: 0 2px 4px 5px rgba(0,0,0,.12);
            }
        }
    }
}
.navbar-brand{
    display: flex;
    font-size: 32px;
    line-height: 48px;
    color: white;
    padding: 0 35px;
    cursor: pointer;
}

footer {    
    background-color: #151515;
    color: #fff;
    .footer-content {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        padding: 40px 0;
    }
    .footer-copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0 60px;
        color: #b7b7b7;
    }
}