<nav class="navbar">
  <div class="navbar-inner">
      <div class="navbar-brand" (click)="goHome()">
        <strong>FROotPlay</strong>
      </div>
      <div class="navbar-search">
        <div class="keyword-wrapper">
          <input [formControl]="queryField" type="search" placeholder="Search for movie..." autofocus/>
        </div>
        <ul class="filter-select">
          <li *ngFor="let result of results" class="filter-select-list" (click)="goToMovieDetails(result)">
            <img [src]="'/assets/images/movie-covers/'+result.img" [alt]="result.name">
            <div class="info">
              <p class="movie-name">{{result.name}}</p>
              <p class="movie-genre">Genres: {{result.genres.join(', ')}}</p>
              <p class="movie-genre">Rate: {{result.rate}}</p>
              <p class="movie-genre">Length: {{result.length}}</p>
            </div>
          </li>
        </ul>
        <!-- <input type="search" name="s" placeholder="Search..." autocomplete="off"> -->
      </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="page-footer">
  <section class="footer-content">
    <div class="container">
      <div class="navbar-brand" (click)="goHome()">FROotPlay</div>
    </div>
  </section>
  <section class="footer-copyright">
    <div class="container">
      <p class="rights"><span>©&nbsp;</span><span class="copyright-year">2020</span><span>&nbsp;</span><span>All Rights Reserved.</span><span>&nbsp;</span><span>Terms of Use.</span></p>
    </div>
  </section>
</footer>